/********************************
base style core
*********************************/
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/** font-size 以 10 为底数 (10*) */

html {
  box-sizing: border-box;
  font-family: 62.5%;
  margin-top: 0;
  padding: 0;
  border 0;
}


/** 设置 body 的字体颜色和字体尺寸*/

body {
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-size: 1.5em;
  font-weight: 400;
  font-family: "PingFang SC", "Open Sans", 'Microsoft YaHei', "WenQuanYi Micro Hei", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, tohoma, sans-serif;
}