/*------------------------------------------------------------
  对齐
------------------------------------------------------------*/

.pull-right
{
    float: right;
}

.pull-left
{
    float: left;
}

.text-center
{
    text-align: center;
}

.full-screen
{
    width: 100%;
    min-height: 100vh;
}

.vertical-align
{
    display: flex;
    align-items: center;
}

.horizontal-align
{
    display: flex;
    justify-content: center;
}

.center
{
    display: flex;
    align-items: center;
    justify-content: center;
}

/**
    垂直居中内容
    https://www.w3.org/Style/Examples/007/center
 */
.container
{
    display: table-cell;

    min-height: 6.5em;

    vertical-align: middle;
}

/** 清除css Clearfix */

/*.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}*/

.clearfix:before,
.container:after
{
    display: table;

    content: '';
}
/* 清除浮动*/
.clearfix:after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
}
/*清除safari默认select样式*/
.clear-safari-751
{
    -ms-progress-appearance: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

html[xmlns] .clearfix
{
    display: block;
}

* html .clearfix
{
    height: 1%;
}

/**
  跨浏览器透明度
   https://perishablepress.com/cross-browser-transparency-via-css/
*/
.transparent
{
           opacity: .5;           /* fx, safari, opera */

    filter: alpha(opacity=50); /* internet explorer */
    -khtml-opacity: .5;      /* khtml, old safari */
      -moz-opacity: .5;       /* mozilla, netscape */
}
/** 圆角效果*/
#container
{
    -webkit-border-radius: 4px 3px 6px 10px;
       -moz-border-radius: 4px 3px 6px 10px;
            border-radius: 4px 3px 6px 10px;

         -o-border-radius: 4px 3px 6px 10px;
}


/* alternative syntax broken into each line */
/*#container {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 10px;

    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 10px;
}
*/

/**
    Polaroid Image Border

  */
img.polaroid
{
    width: 200px; /*Set to width of your image or desired div*/
    height: 200px; /*Set to height of your image or desired div*/

    border: solid #fff;
    border-width: 6px 6px 20px 6px;
    background: #000; /*Change this to a background image or remove*/
    -webkit-box-shadow: 1px 1px 5px #333;
       -moz-box-shadow: 1px 1px 5px #333;
            box-shadow: 1px 1px 5px #333; /* Standard blur at 5px. Increase for more depth */
}


/** 锚点伪类链接 */
a:link
{
    color: blue;
}

a:visited
{
    color: purple;
}

a:hover
{
    color: red;
}

a:active
{
    color: yellow;
}

/* external links */
a[href^='http://']
{
    padding-right: 20px;

    background: url(external.gif) no-repeat center right;
}


/* emails */

a[href^='mailto:']
{
    padding-right: 20px;

    background: url(email.png) no-repeat center right;
}


/* pdfs */

a[href$='.pdf']
{
    padding-right: 20px;

    background: url(pdf.png) no-repeat center right;
}

/* zip
Same as above but for zip files and it adds an icon at the right of the link. Therefore the :after
*/
a[href$='.zip']:after
{
    content: url(icons/zip.png);
}
/* djavupixel
The *= specifies that at least one instance of the substring “djavupixel” matches.
*/
a[href *='djavupixel']
{
    padding-right: 17px;

    background: url(icons/super-star.png) no-repeat right;
}

a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button,
.pointer
{
    cursor: pointer;
}

/*禁止长按链接与图片弹出菜单*/
a,
img
{
    -webkit-touch-callout: none;
}

.no-copy
{
    -webkit-user-select: none;
            user-select: none;
}
/**
Pull Quotes with HTML5 and CSS
http://miekd.com/articles/pull-quotes-with-html5-and-css/
These pull quotes are supported by every modern browser down to IE8.

  */
.has-pullquote:before
{
    /* Typography (30px line-height equals 25% incremental leading) */
    font-size: 23px;
    line-height: 30px;
    /* Baseline correction */

    position: relative;
    top: 5px;
    /* Pull out to the right, modular scale based margins. */

    float: right;

    width: 320px;
    margin: 12px -140px 24px 36px;
    /* Reset metrics. */
    padding: 0;
    /* Content */

    content: attr(data-pullquote);

    border: none;
}

.pullquote-adelle:before
{
    font-family: 'adelle-1', 'adelle-2';
    font-weight: 100;

    top: 10px !important;
}

.pullquote-helvetica:before
{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;

    top: 7px !important;
}

.pullquote-facit:before
{
    font-family: 'facitweb-1', 'facitweb-2', Helvetica, Arial, sans-serif;
    font-weight: bold;

    top: 7px !important;
}


/** 全屏背景 */
/*html {
    background: url('images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

/** 禁止iOS和android用户选中e文字 */
/*html, body {
  -webkit-user-select: none;
  user-select: none;
}*/

/** css3 实现渐变 */
#colorbox
{
    background: #629721;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#83b842), to(#629721));
    background-image: -webkit-linear-gradient(top, #83b842, #629721);
    background-image:    -moz-linear-gradient(top, #83b842, #629721);
    background-image:     -ms-linear-gradient(top, #83b842, #629721);
    background-image:      -o-linear-gradient(top, #83b842, #629721);
    background-image:         linear-gradient(top, #83b842, #629721);
}

.amp
{
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-weight: normal;
    font-style: italic;
}

p:first-letter
{
    font-family: Georgia, Times New Roman, serif;
    font-size: 5.4em;

    display: block;
    float: left;

    margin: 5px 0 0 5px;

    color: #f36;
}

#mydiv
{
    -webkit-box-shadow: inset 2px 0 4px #000;
       -moz-box-shadow: inset 2px 0 4px #000;
            box-shadow: inset 2px 0 4px #000;
}

#mydiv
{
    -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
       -moz-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
            box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
}

#footer
{
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 30px;

    background: #444;
}

/* IE 6 */
* html #footer
{
    position: absolute;
    top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
.bg
{
    width: 200px;
    height: 100px;

    background: url(/folder/yourimage.png) no-repeat;

    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/folder/yourimage.png',sizingMethod='crop');
}


/* 1px gif method */
img,
.png
{
    position: relative;

    behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
       this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
       this.src = "images/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
       this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
       this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}

/** Cross-Browser Minimum Height */
#container
{
    height: auto !important;
    height: 550px;
    min-height: 550px;
}

body:before
{
    position: fixed;
    z-index: 100;
    top: -10px;
    left: 0;

    width: 100%;
    height: 10px;

    content: '';

    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
       -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
            box-shadow: 0 0 10px rgba(0, 0, 0, .8);
}
