h1
{
    font-size: 2em;

    margin: .67em 0;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol
{
    margin: 1em 0;
    /* margin: 1rem 0; */
}

h1,
h2,
h3,
h4,
h5,
h6
{
    line-height: 1.5;
}



table
{
    display: table;
    zoom: 1;

    box-sizing: border-box;

    border-spacing: 2px 2px;
    border-collapse: collapse;

    border-color: #f0f0f0;
}

table tbody
{
    display: table-row-group;

    box-sizing: border-box;

    vertical-align: middle;
}

table th
{
    font-weight: bold;

    display: table-cell;
    zoom: 1;

    padding: 1px;

    text-align: center;
    vertical-align: middle;
}

table td
{
    display: table-cell;
    zoom: 1;

    padding: 1px;

    vertical-align: middle;
}

table tfoot
{
    display: table-footer-group;

    box-sizing: border-box;

    vertical-align: middle;
}

table thead
{
    display: table-header-group;

    box-sizing: border-box;

    vertical-align: middle;
}

table tr
{
    display: table-row;
    zoom: 1;

    box-sizing: border-box;

    vertical-align: middle;
}

tbody tr:nth-child(odd)
{
    background-color: #ccc;
}
